services:
	# Error
	modette.front.error.presenter:
		type: Modette\Front\Error\Presenter\ErrorPresenter
		factory: Modette\Front\Error\Presenter\ErrorPresenter
	modette.ui.internalError.presenter:
		setup:
			- setDefaultErrorPresenter(':Modette:Front:Error:default')
